<!DOCTYPE html>
<html>
<head>
    <title>Add Manufacturer</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <main>
        <div class="container">
            <h2>Add New Manufacturer</h2>
            <form action="manufactureradded" method="POST">
                <div class="form-group">
                    <label for="name">Manufacturer Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location">
                </div>

                <div class="form-group">
                    <label for="contact">Contact Information:</label>
                    <input type="text" id="contact" name="contact">
                </div>

                <button type="submit" class="btn">Add Manufacturer</button>
            </form>
        </div>
    </main>
</body>
</html> 