<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="/about">About <%=shopData.shopName%></a></p>
    <p><a href="/weather">Check the current weather forecast</a></p>
    <p><a href="/fireworks/search">Search for fireworks</a></p>
    <p><a href="/fireworks/addfireworks">Add a new firework</a></p>
    <p><a href="/fireworks/addmanufacturer">Add a new Manufacturer</a></p>
    <p><a href="/fireworks/list">List fireworks</a></p>
    <p><a href="/fireworks/listmanufacturers">List of the Manufacturers</a></p>
    <p><a href="/users/list">List users</a></p>
    <p><a href="/fireworks/bargainfireworks">Bargain fireworks</a></p>
    <p><a href="/users/register">Register with us</a></p>
    <p><a href="/users/login">Login to your account</a></p>
    <p><a href="/users/login">Logout</a></p>
  </body>
</html>
