<!doctype html>
<html>
  <head>
    <title> Log in to <%=shopData.shopName%></title> 
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1> Log in to <%=shopData.shopName%></h1>
    <form method="POST" action="/users/login">
        <label for="username">Username:</label>
        <p><input type="text" id="username" name="username" required></p>
        <label for="password">Password:</label>
        <p><input type="password" id="password" name="password" required></p>
        <button type="submit">Login</button>
    </form>

    <!-- Separate form for register button -->
    <form method="GET" action="/users/register">
        <button type="submit">Register a new account</button>
    </form>
      