<!DOCTYPE html>
<html>
<head>
    <title>Search Fireworks</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Search Fireworks</h1>
    <div class="search-container">
        <form action="search_result" method="GET">
            <input 
                type="text" 
                name="search_text" 
                placeholder="Enter firework name or manufacturer..."
                required
            >
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="list">View All Fireworks</a>
    </div>
</body>
</html>